*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --grid-width: 600px;
    --grid-gap: 2px;
    --grid-padding: 12px
}



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;

    flex-direction: column;
}

.pixelGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--grid-padding);
    border: 2px solid darkslategray;
    width: var(--grid-width);
    height: var(--grid-width);
    border-radius: 4px;

    
}

.row{
    display: flex;
    justify-content: center;

}



.pixel{
    background-color: antiquewhite;
    width: 24px;
    height: 24px;

    transition: all .10s ease-in;
}

